*{
    background-color: hsl(0, 1%, 18%);
    
    color:aliceblue
}
h1 , body{
    text-align: center;
}
#input{
    background-color: aliceblue;
    color:black;
    height: 40px;
    width:50%;
    border:  solid white;

}
.btn{
    display:inline-flex;
    background-color: yellowgreen;
    border-radius: 5px;
    height: 55px;
    color:black;

}
.btn:hover{
    background-color: black;
    color:yellowgreen;
    cursor: pointer;
}
.dlt-btn{
    background-color: yellow;
    border-radius: 5px;
    color:black;

}
.dlt-btn:hover{
    background-color: black;
    color:yellow;
    cursor: pointer;
}

p,
  li,
  button {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    font-family: "Urbanist", sans-serif;
    line-height: 1.6;
  }